.header-bg-color {
    background-color: rgba(0, 0, 0, 1);
}

.header-text-color {
    color: rgba(255, 94, 25, 1);
}

.img-height {
    height: 200px;

}

.card-bg-color {
    background-color: rgba(13, 13, 13, 1);
}

.card-section-bg {
    background-color: rgb(26, 24, 24);
}

.parent-list li {
    list-style-type: decimal;
}